<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="path" value="V{version}" />
<f:if condition="{bt}">
    <f:variable name="path" value="{path}/BT{bt}" />
</f:if>
<f:if condition="{version} < 6">
    <f:asset.css identifier="fullcalendar-vendor-css" href="EXT:fullcalendar/Resources/Public/Css/{path}/chunk-vendors.css"/>
</f:if>
<f:asset.css identifier="fullcalendar-main-css" href="EXT:fullcalendar/Resources/Public/Css/{path}/fullcalendar.css"/>

</html>
