<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="path" value="V{version}" />
<f:if condition="{bt}">
    <f:variable name="path" value="{path}/BT{bt}" />
</f:if>
<f:asset.script identifier="fullcalendar-modules" type="module" useNonce="true">
    !function(e,t,n){!("noModule"in(t=e.createElement("script")))&&"onbeforeload"in t&&(n=!1,e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove())}(document)
</f:asset.script>
<f:asset.script identifier="fullcalendar-chunk-vendors" type="module" src="EXT:fullcalendar/Resources/Public/JavaScript/{path}/chunk-vendors.js" />
<f:asset.script identifier="fullcalendar-main" type="module" src="EXT:fullcalendar/Resources/Public/JavaScript/{path}/fullcalendar.js" />
<f:asset.script identifier="fullcalendar-chunk-vendors-legacy" nomodule="true" src="EXT:fullcalendar/Resources/Public/JavaScript/{path}/chunk-vendors-legacy.js" />
<f:asset.script identifier="fullcalendar-main-legacy" nomodule="true" async="true" defer="true" src="EXT:fullcalendar/Resources/Public/JavaScript/{path}/fullcalendar-legacy.js" />
</html>
