<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:fc="http://typo3.org/ns/MEDIAESSENZ/Fullcalendar/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
	<div id="{id}"><p class="text-center my-5 py-5"><span class="fas fa-yin-yang fa-spin mr-1"></span>LOADING...</p></div>
	<f:asset.script identifier="fullcalendar-config" priority="true" useNonce="true">
		var fullcalendarids = typeof fullcalendarids === 'undefined' ? [] : fullcalendarids;
		fullcalendarids.push('{id}');
		var {id} = {};
		{id}.settings = <fc:settings settings="{settings}" />;
		{id}.lang = <fc:language keys="event_download_ical_title,event_download_ical,event_add_to_google_title,event_add_to_google,event_location,event_location_google_maps_link_title,event_duration,event_organizer,event_details,event_booking,filter" />;
	</f:asset.script>
    <f:variable name="bt" value="3" />
    <f:if condition="{settings.themeSystem} == 'bootstrap4'">
        <f:variable name="bt" value="4" />
    </f:if>
    <f:if condition="{settings.themeSystem} == 'bootstrap5'">
        <f:variable name="bt" value="5" />
    </f:if>
    <f:render partial="Css" arguments="{version: settings.fullcalendarVersion, bt: bt}"/>
    <f:render partial="Scripts" arguments="{version: settings.fullcalendarVersion, bt: bt}"/>
</f:section>

</html>
